@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto/Roboto-Bold.ttf) format("truetype");
  font-weight: bolder;
}

@font-face {
  font-family: "Roboto-Light";
  src: url(../fonts/Roboto/Roboto-Light.ttf) format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: "Roboto-LightItalic";
  src: url(../fonts/Roboto/Roboto-LightItalic.ttf) format("truetype");
}
body {
  text-align: center;
  margin: 60px;
}

.hero,
.copywrite {
  background: #1f2937;
  color: white;
}
.hero {
  padding: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: revert;
  font-family: "Roboto", sans-serif;
  color: #e5e7eb;
  font-size: 18px;
  margin-bottom: 50px;
 
}

.links a{
  color:#e5e7eb;
}

.logo {
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  font-size: 24px;
  color: #f9faf8;
}

.header-body {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  padding: 9px;

}

.header-body h1 {
  font-family: "Roboto-Bold";
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  padding-top: 9px;
}

.header-body h4 {
  font-family: "Roboto-Light";
  font-size: 18px;
  color: #e5e7eb;
  padding: 10px;

}
.header-image {
  background: #6d747d;
  width: 500px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.header-image p {
  display: flex;
  text-align: center;
  margin-left: 100px;
}

.header-button {
  padding: 9px;
  background: #3882f6;
  border-radius: 8px;
  color: white;
  width: 100px;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:20px;
} 
.card{
  background: #1f2937;
  color: #e5e7eb;
  padding-top: 5px;
  padding-bottom: 15px;
}
.card p{
  padding:20px;
  text-align: left;
  font-family: "Roboto-LightItalic";}

img{
  padding: 20px;
}
.photos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0;
  margin-left: 150px;
}

.box {
  width: 100px;
  height: 100px;
  padding: 20px;
  border: 2px solid #3882f6;
  border-radius: 8px;
  margin-bottom: 50px;
  margin-top: 50px;
 
}

.box small{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 10px;
  margin-top: 140px;
  margin-left: -20px;
  width: 120px ;
  text-align: left;
  
}
.middle-body h2 {
  margin-top: 50px;
  font-size: 36px;
  font-family: "Roboto-Bold";
  font-weight: bolder;
  color: #1f2937;
}
.action-container,
.footer-button {
  background: #3882f6;
}

.quote-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #e5e7eb;
  height: 200px;
  padding: 80px;
  margin-top: 50px;
}

.quote-container p,
small {
  word-spacing: 10px;
  text-align: center;
  width: 800px;
  font-family: "Roboto-LightItalic";
  font-size: 36px;
}
.quote-container small {
  position: relative;
  left: 100px;
  font-weight: bold;
}
.action-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 50px;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 30px;
  height: 100px;
  border-radius: 10px;
  color: white;
}
.action-container button {
  padding: 10px;
  background-color: #3882f6;
  color: white;
  border: 2px solid white;
  margin-top: 10px;
  border-radius: 8px;
}

.action-container-contact {
  font-size: 20px;
  font-family: "Roboto-Bold";
  font-weight: bolder;
  background-color: #1f2937;
  border: 2px solid white;
  padding: 30px;
  color:#e5e7eb;
}

.copyright{
  padding: 40px;
}
