@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto/Roboto-BoldItalic.ttf);
}

body {
  text-align: center;
  margin: 60px;
  font-family: "Roboto", sans-serif;
}

.hero,
.copywrite {
  background: #1f2937;
  color: white;
}
.hero {
  padding: 60px;
}
.links {
  display: flex;
  justify-content: flex-end;
  font-family: "Roboto", sans-serif;
}
.logo {
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
}
.header-body {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.header-body h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.header-body h4 {
  font-size: 18px;
  color: #e5e7eb;
}
.header-image {
  background: #6d747d;
  display: flex;
  width: 600px;
}
.header-image p {
  display: flex;
  text-align: center;
  margin-top: 100px;
  margin-left: 200px;
}
.header-button {
  padding: 9px;
  background: #3882f6;
  border-radius: 8px;
  color: white;
}

.box {
  width: 100px;
  height: 100px;
  padding: 20px;
  border: 2px solid #3882f6;
  border-radius: 8px;
  margin-bottom: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-left: 150px;
}

.middle-body h2 {
  margin-top: 50px;
}
.action-container,
.footer-button {
  background: #3882f6;
}

.quote-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #e5e7eb;
  height: 200px;
  padding: 30px;
}

.action-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 50px;
  margin-top: 20px;
  padding: 30px;
  height: 100px;
  border-radius: 10px;
  color: white;
}
.action-container button {
  padding: 10px;
  background-color: #3882f6;
  color: white;
  border: 2px solid white;
  margin-top: 10px;
  border-radius: 8px;
}
.copywrite {
  padding: 20px;
}
